<div class="middle-header">
    <div class="back-to-categories">
        <a href="#home-nav">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#iconbackicon1"></use>
            </svg>
            返回
        </a>
    </div>
</div>
<div class="title-list">
    <nav id="title-list-nav">
        <% site.posts.sort('date', 'desc').forEach(function(post, i){  %>
        <a
            class="<% post.categories.forEach(function(category, i){ %><%=category.name%> <% }) %>"
            href="<%- url_for(post.path) %>"
            data-tag="<% post.tags.forEach(function(tag, i){ %><%=tag.name%><% if (i+1<post.tags.length){%>,<%}})%>"
            data-active="<%= post.path == path.replace('index.html', '') %>"
            data-visible="true"
            data-href="<%- url_for(post.path) %>"
            data-categories="<% post.categories.forEach(function(category, i){ %><%=category.name%>,<% }) %>"
        >
            <div class="inner">
                <div class="post-title" title="<%=post.title %>">
                    <%= post.title %>
                </div>
                <div class="post-meta">
                    <div class="post-date" title="<%= date(post.date, 'YYYY-MM-DD HH:mm:ss')%>"><%= date(post.date, 'YYYY/MM/DD') %></div>
                </div>
            </div>
        </a>
        <% }) %>
    </nav>
</div>